**/.streamlit/secrets.toml
**/site_packages/**
!**/site_packages/.gitkeep
.env
project_ctx/**
**/.env
**/.DS_Store
**/__pycache__/**
**/token.bin
linker_setting.yaml
project_setting.yaml
*.zip
**/shellarc_native/build/**